.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .projects-card {
    background-color: var(--blue-dark);
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /* display: flex; */
  }
  .projects-card .btn {
    background-color: var(--primary-500);
  }
  .projects-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px 0px #dbeafe6f;
  }
  .projects-card .project-img {
    transition: var(--transition);
    position: relative;
  } 
  .projects-card .project-img::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: var(--transition);
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .projects-card:hover .project-img::after {
    border-radius: var(--borderRadius);
    width: 105%;
    height: 105%;
  }
  .projects-card h5 {
    position: relative;
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .projects-card h5::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: var(--red-dark);
    transition: var(--transition);
  }
.projects-card h5:hover::after {
    width: 100px;
  }
.card-description {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }